<header class="site-header">
  <nav class="navbar fixed-top navbar-light">
    <a class="navbar-brand" href="#">lumad.</a>
      <ul class="navbar-nav d-flex flex-row justify-content-center align-items-center">
        <li class="nav-item">
          <a class="nav-link link" href="{{ site.baseurl }}/#work" data-hover="work" data-scroll>work</a>
        </li>
        <li class="nav-item ml-4">
          <a class="nav-link link" href="{{ site.baseurl }}/about" data-hover="about">about</a>
        </li>
        <li class="nav-item ml-4">
          <a class="nav-link link" href="{{ site.baseurl }}/#contact" data-hover="info@lumad.co" data-scroll >info@lumad.co</a>
        </li>
      </ul>
  </nav>
</header>