<header class="site-header">
  <nav class="navbar fixed-top navbar-light">
    <a class="navbar-brand" href="{{ site.baseurl }}/">lumad.</a>
      <ul class="navbar-nav d-flex flex-row justify-content-center align-items-center">
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/#work">
            <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10.3431 0.292893L16.7071 6.65685C17.0976 7.04738 17.0976 7.68054 16.7071 8.07107L10.3431 14.435C9.95262 14.8256 9.31946 14.8256 8.92893 14.435C8.53841 14.0445 8.53841 13.4113 8.92893 13.0208L13.5858 8.36396H0V6.36396H13.5858L8.92893 1.70711C8.53841 1.31658 8.53841 0.683418 8.92893 0.292893C9.31946 -0.0976311 9.95262 -0.0976311 10.3431 0.292893Z" transform="translate(17 15.364) rotate(180)" fill="black"/>
            </svg>
          </a>
        </li>
      </ul>
      <!-- <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav d-flex flex-column justify-content-end align-items-end">
        <li class="nav-item">
          <a class="nav-link" href="/portfolio">work</a>
        </li>
        <li class="nav-item mt-4">
          <a class="nav-link" href="/about">about</a>
        </li>
        <li class="nav-item mt-4">
          <a class="nav-link" href="/contact">contact</a>
        </li>
      </ul>
      </div> -->
      
  </nav>
</header>