.carousel{
	.carousel-cell {
		width: 100%; 
		&.carousel-nav{
			height: auto;
		}
	}
	.flickity-page-dots {
		bottom: 0;
		display: flex;
		.dot {
			height: 4px;
			border-radius: 0;
			margin: 0;
			width: 100%;
			backgrond: $text-muted;
			&.is-selected{
				background: $primary;
			}
		}
	}
}




