@font-face {
    font-family: 'radio_groteskbold';
    src: url('../fonts/radiogrotesk-bold-webfont.woff2') format('woff2'),
         url('../fonts/radiogrotesk-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'radio_grotesklight';
    src: url('../fonts/radiogrotesk-light-webfont.woff2') format('woff2'),
         url('../fonts/radiogrotesk-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'radio_groteskregular';
    src: url('../fonts/radiogrotesk-regular-webfont.woff2') format('woff2'),
         url('../fonts/radiogrotesk-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}